/* = Set font from comp = */
@font-face {
    font-family: "Stratum";
    src: url("/css/Stratum1WebBold.woff") format('woff');
	font-style: normal;
}
/* = Global standard resets = */
html {
	font-family: "Roboto", Arial, Helvetica, Verdana, sans-serif;
	line-height: 1.5;
}
a {
	all: unset;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
}
/* = Header & Nav = */
.header {
	width: 100%;
	position: relative;
}
.nav_sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
/* = Set flex & align | constrain vert, set logos offset equal = */
.nav_flex-container {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px 5%;
	background-color: #121212;
}
.delta_logo {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
}
.delta_logo p {
	color: #cbced1;
	position: absolute;
	bottom: -2px;
	left: -65px;
	font-size: 10px;
}
/* = Text colors from comp (colorfish) = */
.nav_contact-container {
	display: flex;
	justify-content: flex-end;
    margin-left: -5%;
}
/* = Contact copy style (colorfish) = */
.nav_contact {
	background-color: #FFF;
	color: #444546;
}
/* = Contact copy # style (colorfish) = */
.nav_contact em {
    color: #757575;
}
/* = Hero section = */
.hero {
	background-color: #121212;
}
/* = Set flex for hero cols | padding */
.hero_container {
	display: flex;
	flex-direction: row;
	padding: 5% 2% 6%;
}
.col-hero_left {
	width: 50%;
}
.hero_image-container {
	margin-left: 50%;  
	max-width: 50%;
	float: right;
}
.col-hero_right {
	width: 50%
}
.heading-copy_block {
	font-family: Stratum;
}
.hero-image {
	max-width: 30%;
}
/* = Container for h1 and deco element */
.hero-content_container {
	display: flex;
	flex-direction: column;
	position: relative;
	float:right;
}
/* = Hero deco circle | set flex and align | scale copy */
.round-deco_container {
	background-color: #0074e0;
	color: #FFF;
	font-weight: bold;
	font-size: 2rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* = Deco line | ! to hold width beyond breaks */
.round-deco_container::after {
	position: absolute;
	content: "";
	width: 150px;
	border-top: 1px solid #444546;
	width: 90% !important;
}
/* = Set display for hero title copy container = */
.heading-copy_block {
	display: block;
}
/* = h1 title copy | font added from comp = */
.heading-copy {
	font-family: "Stratum";
	color: #FFF;
	text-transform: uppercase;
	line-height: 1;
	font-size: 4vw;
}
/* = Story feature secion (mobile & desktop) */
.benefits-feature{
	position: relative;
	max-width: 1400px;
	/* margin-inline: auto; */
	margin: auto;
}
.benefits-feature_align {
	position: absolute;
	top: 0;
	right: 5%;
	left: 5%;
	margin-top: -20px;
}
/* = Feature view (mobile 1st) = */
/* = Initial hide desktop view = */
.desktop_view {
	display: none;
}
/* = Set flex for benefits feature and push whitespace */
.mobile_view {
	display: flex;
	flex-direction: row;
	position: relative;
	margin-bottom: 100px;
}
/* = Vertical line connecting all cards = */
.mobile_view .benefits-feature_line-vertical {
	border-left: 2px dashed #B88E33;
	z-index: -1;
}
/* = Set flex and spacing for benefits feature */
.mobile_view .benefits_container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.mobile_view .benefits_copy {
	position: relative;
}
.benefits_copy h2 {
	font-weight: bold;
	font-size: 1rem;
}
.benefits_copy p {
	font-size: 1rem;
}
/* = Style benefit cards | offset left  */
.mobile_view .benefits_copy-inner {
	margin-left: 40px;
	border-radius: 5px;
	background-color: #F7F7F8;
	padding: 5%;
}
/* = Pseudo element hides top 50% of dashed border connection = */
.mobile_view .benefits_copy:nth-child(1)::before {
	position: absolute;
	content: "";
	background-color: #FFF;
	width: 5px;
	top: 0;
	bottom: 50%;
	left: -3px;
	z-index: -1;
}
/* = Pseudo element hides top 50% of dashed border connection = */
.mobile_view .benefits_copy:nth-child(5)::before {
	position: absolute;
	content: "";
	background-color: #FFF;
	width: 5px;
	top: 50%;
	bottom: 0;
	left: -3px;
	z-index: -1;
}
/* = Pseudo element dashed border stand off benefit card = */
.mobile_view .card_deco-border {
	position: absolute;
	content: "";
	border-top: 2px dashed #B88E33;
	height: 2px;
	width: 30px;
	top: 50%;
	left: -2px;
}
/* = Pseudo element bullet stand off benefit card = */
.mobile_view .card_deco-bullet::before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	top: 47%;
	left: 20px;
	background-color: #B88E33;
	border-radius: 50%;
}
@media (min-width: 500px) {
	/* = Set nav to flex */
	.nav_flex-container {
		display: flex;
	}
	/* = Maintain vertical gap between deco and h1 =*/
	.hero-content_container {
		gap: 20px;
	}
	/* = Round blue 4 deco = */
	.round-deco_container {
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}
	/* = Line deco after round blue 4 = */
	.round-deco_container::after {
		width: 50% ;
		left: 50px;
		margin-left: 10px;
	}
	/* = Nav help contact number constraint | align helper = */
	.nav_contact-container {
		width: min(100%);
	}
}
@media (min-width: 800px) {
	/* = Nav set width = */
	.nav_contact-container {
		min-width: 100%;
	}
	/* = Round blue 4 deco = */
	.round-deco_container {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		margin-left: -10px;
	}
	/* = Line deco after round blue 4 = */
	.round-deco_container::after {
		width: 85% ;
		left: 50px;
		margin-left: 20px;
	}
	/* = Set gap and whitespace above hero content */
	.hero_container {
		padding-top: 15%;
		gap: 40px;
	}
	/* = Set float | h1 position and deco offset to card edge */
	.hero-content_container {
		float: left; 
		margin-left: 15px; 
	}
	.benefits-feature_align {
		margin-top: -50px;
		right: 2%;
		left: 2%;
	}
	/* = Lift benefit content to overlap hero section = */
	.benefits-feature_align {
		margin-top: -50px;
	}
		/* = Desktop view | hide mobile = */
	.mobile_view {
		display: none;
	}
	/* = Set flex for benefits section and whitespace below = */
	.desktop_view {
		position: relative;
		display: flex;
		flex-direction: row;
		margin-bottom: 50px;
	}
	/* = Vertical line connecting all cards = */
	.desktop_view .benefits-feature_line-vertical {
		border-left: 2px dashed #B88E33;
		width: 0;
		z-index: -1;
	}
	/* = Right benefit cards = */
	.desktop_view .benefits_copy.right-cards,
	.desktop_view .benefits_copy.left-cards {
		position: relative;
	}
	/* = Set flex col and spacing = */
	.desktop_view .benefits_container.right-cards {
		display: flex;
		flex-direction: column;
		gap: 20px;
		position: relative;
	}
	/* = Position and style right benefit cards = */
	.desktop_view .benefits_copy-inner.right-cards {
		margin-left: 60px;
		border-radius: 5px;
		background-color: #f7f7f8;
		padding: 5%;
	}
	/* = Hide top of border deco = */
	.desktop_view .benefits_copy.right-cards:nth-child(1)::before {
		position: absolute;
		content: "";
		background-color: #FFF;
		width: 10px;
		top: 0;
		bottom: 50%;
		left: -5px;
		z-index: -1;
	}
	/* = Hide bottom of border deco = */
	.desktop_view .benefits_copy.right-cards:nth-child(3)::before {
		position: absolute;
		content: "";
		background-color: #FFF;
		width: 10px;
		top: 50%;
		bottom: 0;
		left: -5px;
		z-index: -1;
	}
	/* = Positon deco border (dashed) horizontal = */
	.desktop_view .card_deco-border.right-cards {
		content: "";
		border-top: 2px dashed #B88E33;
		/* height: 2px; */
		width: 50px;
		position: absolute;
		top: 50%;
		left: -2px;
	}
	/* = Positon deco bullet (round) right cards = */
	.desktop_view .card_deco-bullet.right-cards::before {
		content: "";
		width: 10px;
		height: 10px;
		background-color: #B88E33;
		border-radius: 5px;
		position: absolute;
		top: 48%;
		left: 40px;
	}
	/* = Left benefit cards | set flex, spacing, positioning = */
	.desktop_view .benefits_container.left-cards {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: center;
        margin-top: 50px;
		max-width: 644px;
	}
	/* Style benefits cards */
	.desktop_view .benefits_copy-inner.left-cards {
		margin-right: 60px;
		border-radius: 5px;
		background-color: #f7f7f8;
		padding: 5%;
	}
	/* = Positon deco border (dashed) horizontal = */
	.desktop_view .card_deco-border.left-cards {
		position: absolute;
		content: "";
		border-top: 2px dashed #B88E33;
		height: 2px;
		width: 50px;
		top: 50%;
		right: -2px;
	}
	/* = Positon and style deco bullet (round) left cards = */
	.desktop_view .card_deco-bullet.left-cards::before {
		content: "";
		width: 10px;
		height: 10px;
		background-color: #B88E33;
		border-radius: 5px;
		position: absolute;
		top: 48%;
		right: 40px;
	}
}
@media (min-width: 1200px) {
/* = Style and position hero copy */
	.heading-copy {
		font-size: 56px;
		padding-top: 40px;
	}
	/* Set benefit cards copy */
	.benefits_copy h2,
	.benefits_copy p {
		font-size: 20px;
	}
}
@media (max-width: 800px) {
	/* Hide nav per comp (contact and logos not visible - possible design feedback) = */
	.nav_sticky {
		display: none;
	}
	/* = Style and position hero image container = */
	.col-hero_left {
		width: 40%;
		padding: 20px 0 0 60px;
	}
	/* = Style and position hero image = */
	.col-hero_left img {
		min-width: 150px;
		margin-left: -70px;
	}
	/* = Set right col width and padding = */
	.col-hero_right {
		width: 60%;
		padding: 20px 0 0 60px;
	}
	/* Position hero content container per comp (offset to align with benefit card left) = */
	.col-hero_right .hero-content_container {
		right: 40%;
	}
	/* = Set deco width for consistancy = */
	.round-deco_container::after {
		min-width: 100%;
	}
}


